<div class="table-container">
  <div class="overlay-text">
    Left Panel<br>
    This panel is also resizable. Current width: {{currentWidth}}
  </div>
  <div class="table-header">
    <input class="filter-input" (input)="applyFilter($event.target.value)" placeholder="Filter data...">
  </div>
  <div class="table-content">
    <table>
      <thead>
      <tr>
        <th *ngFor="let column of displayedColumns" (click)="sortData(column)">{{ column }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of dataSource"
          (click)="onRowClick(row)"
          [class.selected]="row === selectedFeature?.properties">
        <td *ngFor="let column of displayedColumns">{{ row[column] }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
