<main>
    <nav>
        <ul>
            <li><a routerLink="/map">Map</a></li>
            <li><a routerLink="/map">Satellite</a></li>
            <li><a routerLink="/map">Satellite 2</a></li>
            <li><a routerLink="/admin/users">Users</a></li>
            <li><a routerLink="/admin/roles">Roles</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </nav>
    <header>
        <h1>GeoView Navigation</h1>
    </header>
    <section>
        <router-outlet></router-outlet>
    </section>
    <aside></aside>
    <footer></footer>
</main>