.divider {
  position: relative;
  height: 100%;

  &.horizontal {
    width: 100%;
  }

  &.vertical {
    width: auto;
    cursor: col-resize;
  }
}

.divider-handle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:hover {
    opacity: 0.8;
  }
}

.horizontal .divider-handle {
  cursor: row-resize;
}
