:host {
  display: grid;
  place-content: center;
  height: calc(100vh - 200px); // Accounting for header and margins
}

.container {
  display: grid;
  grid-template: 50px 1fr / 50px 1fr;
  width: 960px;
  height: 500px;
}

canvas {
  width: 100%;
  height: 100%;
}

.horizontal-ruler { 
  grid-area: 1 / 2; 
  background-color: gray;
}

.vertical-ruler { 
  grid-area: 2 / 1; 
  background-color: gray;
}
.map-canvas { grid-area: 2 / 2; }