
.geo-view-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.layers-panel {
  flex: 0 0 20%; // Fixed width for layers panel
  max-width: 300px;
  min-width: 200px;
  overflow: auto;
  background: #f8f8f8; // Light gray for the side panel background
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  position: relative; // Add this for absolute positioning of the slider
}

.map-container {
  flex: 1 1 50%; // Flexibly adjust to 50% of main-content width
  transition: flex-basis 0.3s ease-in-out; // Smooth transition for resizing
  overflow: hidden; // Prevent overflow from showing up
}

.table-container {
  flex: 1 1 50%;
  transition: flex-basis 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


#slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: purple;
  cursor: col-resize;
  z-index: 1000; // To ensure it stays above other elements
  transition: left 0.3s ease-in-out; // Smooth transition for slider movement
}

.debug-info {
  margin-top: 10px;
  font-size: 12px;
  background-color: #f0f0f0;
  padding: 5px;
}
