<!-- app.component.html -->
<ng-container *ngIf="isLoginPage; else mainLayout">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #mainLayout>
  <main>
    <nav>
      <a routerLink="/map" routerLinkActive="active">Map View</a>
      <br>
      <a routerLink="/logout" routerLinkActive="active">Logout</a>
    </nav>
    <header>
      <h1>GeoView Navigation</h1>
    </header>
    <section>
      <router-outlet></router-outlet>
    </section>
    <aside>
      <!-- Aside content -->
    </aside>
    <footer>
      <!-- Footer content -->
    </footer>
  </main>
</ng-template>