<div *ngIf="isLoading" class="loading-container">
  <img src="assets/spinner.gif" alt="Loading..." />
</div>

<div *ngIf="!isLoading" class="map-view-container">
  <app-double-pane>
    <app-pane class="left-panel">
      <app-map #map></app-map>
    </app-pane>
    <app-pane class="right-panel">
      <ixt-tabset title="Employee Form">
        <ixt-tab title="City Pairs">
          <app-table></app-table>
        </ixt-tab>
        <ixt-tab title="City Editor">

          <ixt-matrix 
            [data]="airportData"
            [columnConfigs]="matrixColumnConfigs" 
            *ngIf="airportData.length">
          </ixt-matrix>


          <ixt-matrix>

          </ixt-matrix>
          <ixt-table
            [data]="airportData"
            [config]="tableConfig">
          </ixt-table>
        </ixt-tab>
        <ixt-tab title="Style Editor">
          <h1></h1>
          <style-editor></style-editor>
        </ixt-tab>
      </ixt-tabset>
    </app-pane>
  </app-double-pane>
</div>