<div class="login-container">
  <div class="login-card">
    <h2>GeoView Login</h2>
    <div *ngIf="errorMessage" class="error-message">
      <span class="material-icons error-icon">error_outline</span>
      {{ errorMessage }}
    </div>
    <form class="login-form" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="username">Username:</label>
        <input 
          type="text" 
          id="username" 
          [(ngModel)]="username" 
          name="username"
          placeholder="Enter username">
      </div>
      <div class="form-field">
        <label for="password">Password:</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="password" 
          name="password"
          placeholder="Enter password">
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>

    <div class="extra-links">
      <a routerLink="/identity/username">Forgot Username?</a>
      <a routerLink="/identity/password">Forgot Password?</a>
    </div>

  </div>


  <!-- Registration Form -->
  <div class="login-card">
    <h2>New Here?</h2>
    <p>Don't have an account? Register now to get started!</p>
    <button class="login-button" routerLink="/identity/profile">Register</button>
  </div>


</div>
