:host {
  display: block;
  width: 100%;
  height: 100%;
}

#map-container {
  width: 100%;
  height: 100%;
  background: #eee;
}

path.district-boundaries {
  fill: lightgrey;
  stroke: grey;
  stroke-width: 0.5;
}