:host {
  display: block;
}

#map-container {
  width: 975px;
  height: 610px;
  margin: 0 auto;

  svg {
    width: 100%;
    height: 100%;
    background: white;
  }

  path {
    fill: white;
  }

  .county-boundaries {
    fill: none;
    stroke: #aaa;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .state-boundaries {
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .nation-boundary {
    fill: none;
    stroke: #000;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
}