@use '@angular/material' as mat;

/* Angular Material Theme */
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.all-component-themes($theme);

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Basic reset continued */
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  user-select: none;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global layout */
html, body {
  height: 100%;
  overflow: hidden;
}

/* Map Container */
.map-container {
  /* Map features styling */
  .point {
    fill: #ffbb00;
    stroke: #0051ba;
    stroke-width: 0.5px;
    r: 5px;
  }

  .multipoint {
    fill: #ffbb00;
    stroke: #0051ba;
    stroke-width: 1px;
    r: 3px;
  }

  .sphere {
    fill: #F5F5F5;
    stroke: none;
  }

  .polygon,
  .multipolygon {
    fill: #bbddff;
    stroke: #003355;
    stroke-width: 0.5px;
  }

  .linestring.routex {
    fill: none;
    stroke: #ff0000;
    stroke-width: 2px;
    stroke-opacity: 0.25;

    &.selected {
      stroke: #ffbb00;
      stroke-width: 10.5px !important;
      stroke-opacity: 0.75;
      z-index: 10;
    }
  }

  .linestring.panam {
    fill: none;
    stroke: #0000ff;
    stroke-width: 1px;

    &.selected {
      stroke: #ffbb00;
      stroke-width: 10.5px !important;
      stroke-opacity: 0.75;
      z-index: 10;
    }
  }

}
